.calculator {
    width: 240px;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px black;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
    background-color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
}

td {
    text-align: center;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 30px;
}